<div ng-controller="orderController">
    <form name="order" ng-submit="placeOrder()">
        <p>Imię: <input type="text" name="name" ng-model="name"/></p>
        <p>Wiek: <input type="number" name="age" ng-model="age"/></p>
        <p>
            Kolor:
            <select name="color" id="color" ng-model="color">
                <option value="red">Czerwony</option>
                <option value="green">Zielony</option>
                <option value="blue">Niebieski</option>
            </select>
        </p>
        <p>Rozmiar:
            <label><input type="radio" id="S" value="S" name="size" ng-model="size"/>S</label>
            <label><input type="radio" id="M" value="M" name="size" ng-model="size"/>M</label>
            <label><input type="radio" id="L" value="L" name="size" ng-model="size"/>L</label>
            <label><input type="radio" id="XL" value="XL" name="size" ng-model="size"/>XL</label>
        </p>
        <button>
            Zapisz
        </button>
    </form>
    <ul>
        <li ng-repeat="order in orders | unique: 'hash'">
            {{order.color}} {{order.size}} <span id="{{order.hash}}">1</span>
        </li>
    </ul>
</div>
